.bg {
  background: linear-gradient(135deg, #3f0d7d, #7b2cbf, #9d4edd);
}

.card {
  background-color: #3f0d7d;
  border-radius: 16px;
  max-width: 420px;
  width: 100%;
}

.icon {
  background-color: #7b2cbf;
  color: white;
  border: none;
}

.loginBtn {
  background-color: #9d4edd;
  border: none;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease;
}

.loginBtn:hover {
  background-color: #7b2cbf;
}
