.home_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #667eea, #764ba2); /* Purple/blue gradient */
}

.home_box {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* This limits the width responsively */
  text-align: center;
}
