.sidebar {
    background-color: #4b2e83; 
    min-height: 100vh;         
    color: white;
    background: linear-gradient(180deg, #7b2cbf, #5a189a);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav_link_custom {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  
  color: white;
  background-color: transparent;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.nav_link_custom:hover {
  background-color: #9d4edd;
  cursor: pointer;
}

.nav_link_custom.active {
  background-color: #9d4edd;
}

.sidebar {
  background: linear-gradient(180deg, #7b2cbf, #5a189a);
  min-height: 100vh;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 250px;           
  flex-shrink: 0;       
}
